.App {
  text-align: center;
  background-color: #282c34;
  height: 100%;
  /*background-image: url('/background/bg4.png');*/
}

body{  
  height: 100%;
  margin: 0.1em
}

.container-game-menu {
    margin-top: 1em;    
    padding: 1em;    
    border-top: solid 2px #8c9cbb;
}

.parent {
  display: flex !important;
  flex-wrap: wrap !important;  
  border-radius: 5px;
  
}

.child {
  flex: 1 0 21%; 
  margin: 0px;
  width: 400px;
  border-radius: 15px;
  text-decoration: none;  
}

figure {
  text-align: center;
}
.card{
  -webkit-transform: scale(0.7);
  transform: scale(0.8);
  border-radius: 10px;  
  box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.644);  
}

.card:hover{  
  box-shadow: 20px 20px 5px rgba(0, 0, 0, 0.644);
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  overflow: hidden;
  cursor: pointer;  
}

.title-theme:hover{
  cursor: pointer;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  box-shadow: 0 0 10px rgb(255, 255, 255), 0 0 20px rgb(6, 218, 255); 

}
.title-theme:active{
  box-shadow: 0 0 30px rgb(255, 255, 255), 0 0 70px rgb(6, 218, 255); 
}

.home-container >h2 {
  color: #282c34;
}

.home-image:hover{  
  -webkit-transform: scale(1.1);
  transform: scale(1.1);  
}

.container-theme{
  margin-top: .1em;
}
.option-game{
  cursor: pointer;
  color: #8c9cbb;
  width: 200px;
  height: 100px;
  cursor: pointer;
}

.option-game:hover{
  color: #c3d1ee;
}

.option-game:active{
  color: whitesmoke;
}

h2{
  color: #8c9cbb;
}

.margin-space {
  height: 100px;
}

/*
.container-game{
  display: flex;  
}

.td-cardPanel{
  width: 50%;
}
*/


