.App {
  text-align: center;
  background-image: url('/background/bg3.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.parent {
  display: flex !important;
  flex-wrap: wrap !important;
}

.child {
  flex: 1 0 21%; /* explanation below */
  margin: 5px;
  width: 100%;
  border-radius: 15px;
  text-decoration: none;  
}

figure > img{
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
  border-radius: 10px;  
  box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.644);
}

figure:hover > img{  
  box-shadow: 20px 20px 5px rgba(0, 0, 0, 0.644);
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  overflow: hidden;  
}

figure:active > img{  
  filter: blur(10px);
}

